@if (user()) {
<div class="max-w-4xl mx-auto p-4">
  <a
    routerLink="/"
    class="inline-flex items-center text-blue-600 hover:text-blue-800 mb-4"
  >
    <i class="fa-solid fa-arrow-left mr-1"></i> Volver
  </a>

  <div class="bg-white shadow rounded-lg p-4">
    <header class="flex items-center">
      <img
        [src]="user()?.avatar_url"
        class="rounded mr-4 w-24 h-24"
        alt="avatar"
      />
      <div>
        <h1 class="text-xl font-semibold mb-1">
          {{ user()?.name || user()?.login }}
        </h1>
        <div class="text-gray-600">
          &#64;{{ user()?.login }} • ID: {{ user()?.id }}
        </div>
        <div class="mt-2 text-gray-800 flex flex-col md:flex-row md:items-center gap-x-6 gap-y-3">
          <div class="flex items-center gap-1">
            <i class="fa-solid fa-user-group mr-1"></i>Seguidores:
            {{ user()?.followers }}
          </div>
          <div class="flex items-center gap-1">
            <i class="fa-solid fa-user-plus mr-1"></i>Siguiendo:
            {{ user()?.following }}
          </div>
          <div class="flex items-center gap-1">
            <i class="fa-solid fa-code-branch mr-1"></i>Repos:
            {{ user()?.public_repos }}
          </div>
        </div>
      </div>
    </header>

    <hr class="my-4 border-gray-200" />

    <div class="grid grid-cols-1 md:grid-cols-2 gap-3 text-gray-700">
      <div class="flex items-center gap-2">
        <i class="fa-solid fa-location-dot"></i>
        {{ user()?.location || "Sin ubicación" }}
      </div>

      <div class="flex items-center gap-2">
        <i class="fa-solid fa-link"></i>
        @if (user()?.blog) {
        <a
          [href]="user()?.blog"
          target="_blank"
          rel="noopener"
          class="text-blue-600 hover:underline"
        >
          Sitio/Blog
        </a>
        } @else { Sin sitio }
      </div>

      @if (user()?.bio) {
      <div class="col-span-1 md:col-span-2 flex items-center gap-2">
        <i class="fa-solid fa-comment-dots"></i>{{ user()?.bio }}
      </div>
      }
    </div>

    <a
      class="inline-block mt-4 bg-gray-800 text-white hover:bg-gray-900 px-4 py-2 rounded transition"
      [href]="user()?.html_url"
      target="_blank"
      rel="noopener"
    >
      Ver en GitHub <i class="fa-brands fa-github ml-1"></i>
    </a>
  </div>
</div>
}
